
.banner {
	padding: 20px 0 0.6vw;
	box-sizing: border-box;
	text-align: center;
	background-image: url("imagenes/ban2.jpg");
	background-size: cover;
	font-family: 'Freckle Face';
	font-size: 10vw;


}

.cuadro {

}

.foot {
	background-color:  black;
	color: white;
	padding-top: 30px;
	}

.nota { padding: 10px;
		box-sizing: border-box;
		font-size: 0.9rem;

}

.logos { width: 40px;
		 margin-right: 8px;
		 }


.nosotros {
	max-width: 70%;
	margin: auto; 

}

h2 { text-align: center;

}

.news {
	width: 100%;

}

.titular {
    top: 0px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding-left: 10px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 576px) {
.banner {
	padding: 20px 0 0.8vw;
	box-sizing: border-box;
	text-align: center;
	background-image: url("imagenes/ban2.jpg");
	background-size: cover;
	font-family: 'Freckle Face';
	font-size: 4.5vw;
	margin-bottom: 40px;

}

}